:root {
    --color-sass--primary: #3d405b;
    --color-sass--secondary: #e07a5f;
    --color-sass--terciary: #ffd166;
    --color-sass--background: #f8f7f3;
    --color-sass--general: #FAFAFA;
    --color-sass--specific: #161616; }

.form-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 2%;
}

.form-inline .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1%;
}

.register-options p, .register-options a {
    font-size: 0.9rem;
}

.register-options a {
    color: var(--color-sass--secondary);
}

.register-options a:hover {
    color: var(--color-sass--primary);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 7%;
    margin-bottom: 150px;
}
  
.card-columns {
    display: grid;
    gap: 3rem;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
}

.card-columns .card {
    margin: 2%;
}

.card-link, .card-text {
    margin: 3%;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.card, .card-text {
    font-size: 0.8rem;
}

.card-body .card-text {
    margin: 0;
    color: var(--color-sass--secondary);
}

.card-body .card-link{
    color: var(--color-sass--secondary);
}

.card-body .card-link:hover {
    color: var(--color-sass--primary);
}

.card-body .card-title {
    font-size: 1.2rem;
    color: var(--color-sass--primary);
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

@media screen and (min-width: 768px) {

    .card-body {
        flex-direction: row;
    }

    .card-body .card-title {
        margin-right: 5px;
    }


}