:root {
    --color-sass--primary: #3d405b;
    --color-sass--secondary: #e07a5f;
    --color-sass--terciary: #ffd166;
    --color-sass--background: #f8f7f3;
    --color-sass--general: #FAFAFA;
    --color-sass--specific: #161616; }

.footer-content {
    background-color: var(--color-sass--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4%;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%; 
    font-size: 0.85rem;
    text-align: center;
}

.footer-content h3, .footer-content h4 {
    font-size: inherit;
}
  

@media screen and (min-width: 320px) {

}
  
@media screen and (min-width: 768px) {

}